.banner{
vertical-align=middle;
font-family:tahoma;
height:200px;
}

.menu{
font-family:tahoma;
vertical-align=middle;
float:initial;
background-color:#97AB45;
height:50px;
border-radius: 50px 50px 50px 50px;
}

.menu b a {
   padding: 2px 7px 2px 7px;
   color: #6D6D6D;
}

.menu b a:hover{
   background-color: #333333;
   color: #ffffff;
}

.input{
	background-color:#97AB45;
    border: 2px solid white;
    border-radius: 2px;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    font-family:tahoma;
}

.input2{
	background-color:#97AB45;
    border: 2px solid white;
    border-radius: 2px;;
    color: white;
    padding: 32px 64px;
    text-decoration: none;
    margin: 10px 200px;
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
    font-family:tahoma;
}

.buscador{
background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding-left: 40px;
    
    width: 500px;
    padding: 12px 20px;
    border-radius: 5px 5px 5px 5px;
}

.buscar{
font-family= tahoma;
margin:auto;
border: 2px solid black;
 border-radius: 4px;
 width:600px;
 height:200px;
}


.login{
border: 2px solid black;
 border-radius: 4px;
 width:200px;
 height:200px;
 font-family:tahoma;

}

.registro{
 border: 2px solid black;
 border-radius: 4px;
 width:400px;
 height:300px;
 font-family:tahoma;

}



.couch{
 border: 1px solid #E6E6E6;
 border-radius: 2px;
 width:400px;
 height:300px;
 font-family:tahoma;
 margin:auto;
 text-align: center;
}

.detalleco{
	text-align:center;
	font-family:tahoma;
	border: 1px solid black;
	
	margin:auto;
}









